.father {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.father .son {
  width: 100px;
  height: 100px;
  background-color: red;
}
.father:hover {
  width: 400px;
  height: 400px;
  background-color: pink;
}
